<div id="directoryContent" class="innerContent">
    <table data-role="table" data-mode="reflow" class="tab">
        <thead>
            <tr id="head">
                <th class="center onefifty"><b>Type</b></th>
                <th class="left"><b>File Name</b></th>
                <th class="center sixfive"><b>Dwnld</b></th>
                <th class="right seventy"><b>Size</b></th>
                <th class="left onefifty"><b>Date</b></th>
                <!-- <th><b>Nav</b></th> -->
            </tr>
        </thead>
        <tfoot>
            <tr id="foot">
                <th class="center"><b>Type</b></th>
                <th class="left"><b>File Name</b></th>
                <th class="center"><b>Dwnld</b></th>
                <th class="right"><b>Size</b></th>
                <th class="left"><b>Date</b></th>
                <!-- <th>Nav</th> -->
            </tr>
        </tfoot>
        <tbody>
            <!--&&-->
        </tbody>
    </table>
</div>